header {
	background-color: #f4f4f4;
}
body {
		background-image: url("images/wave-background.png");
}
#white {
	background-color: #f4f4f4;
	position: relative;
	bottom:15px;
	height:10%;
	margin-bottom: 200px;
	

}
#container {
	margin:auto;
	width:80%;
	
}

p {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color:#777777;
}
#title {
	float:left;
	background-color: #4aaaa5;
	position: relative;
	
	border-bottom: 2px #cccccc solid;
	top: 20px;
}
section {
	margin-top: 80px;
	border-top: 2px #cccccc solid;

	
}
li {
	float: right;
	margin:20px;
	padding:10px;
	border-right: 2px #cccccc solid;
	list-style-type: none;
	font-size: 20px;
	
	
}

.content{
	background-color:#f4f4f4;
	margin: 30px;
	float: left;
	width:40%;

	

	
}
.pic {
	width: 50px;
	height:50px;
}
img {
	width: 15%;
	height:15%;
}

h1 {
	
	color: gray;
	border-bottom: #cccccc 2px solid;
	font-family: 'Georgia', Times, Times New Roman, serif;
	
}
title{
	color:#white;
}
article {
	border: 2px white solid;

}

#layout {
	background-color: #f4f4f4;
	margin: 50px;
float: left;


	
}
.logo{
	margin: 10px;
	border: none;
	
	
}
footer {
	padding:10px;
	position: fixed;
	bottom:0px;
	text-align: center;
	background-color: #666666;
	width:100%;
}
